
span {
    display: flex;
    justify-content: center;
}

div {
    width: 800px;
    height: 800px;
    margin: 50px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.brown {
    background-color: brown;
}
.gray {
    background-color: gray;
}

